<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="es.uam.eps.das.exe4.tipsource" name="Source de tips" schema="schema/es.uam.eps.das.exe4.tipsource.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="es.uam.eps.das.exe4.commands.category"
            name="Tip category">
      </category>
      <command
            categoryId="es.uam.eps.das.exe4.commands.category"
            id="es.uam.eps.das.exe4.commands.tipExecute"
            name="Get the tip of the day">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="es.uam.eps.das.exe4.handler.ButtonHandler"
            commandId="es.uam.eps.das.exe4.commands.tipExecute">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="es.uam.eps.das.exe4.commands.tipExecute"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="es.uam.eps.das.exe4.menus.sampleMenu"
               label="Tips"
               mnemonic="M">
            <command
                  commandId="es.uam.eps.das.exe4.commands.tipExecute"
                  id="es.uam.eps.das.exe4.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="es.uam.eps.das.exe4.toolbars.sampleToolbar">
            <command
                  commandId="es.uam.eps.das.exe4.commands.tipExecute"
                  icon="icons/sample.gif"
                  id="es.uam.eps.das.exe4.toolbars.sampleCommand"
                  tooltip="Get the tip of the day">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
